In [1]:
import sqlite3 
import pandas as pd

In [2]:
con = sqlite3.connect("sqlite_db_pythonsqlite.db")
cur = con.cursor()

In [4]:
query_10 = '''
select name, sum(rev) as total_revenue 
from (select f.name,  
       CASE when b.memid != 0 then f.membercost*b.slots 
            else f.guestcost*b.slots end as rev
from Facilities as f 
inner join Bookings as b
on b.facid = f.facid) as sub
group by sub.name
having sum(rev) < 1000
order by total_revenue;
'''
cur.execute(query_10)

print("{0:10s} \t {1:10s}".format('Facility', 'Total Rev'))
for res in cur.fetchall():
    print("{0:10s} \t {1:.2f}".format(*res))

Facility   	 Total Rev
Table Tennis 	 180.00
Snooker Table 	 240.00
Pool Table 	 270.00